@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@theme {
  --color-PrimaryBlue: #363755;
  --color-PrimaryBlueLight: #B4B5CF;
  --color-PrimaryWhite: #E0E4EF;
  --color-PrimaryGreen: #5BD3C7;
}

@layer utilities {
  .font-base {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .font-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .font-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
}

body {
  overflow-x: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}